.total-box {
    background-color: yellow;
    border: 4px solid red;
    border-radius: 10px;
    width: 500px;
    height: 750px;
    
}

.inner-box {
    background-color: olive;
    height: 450px;
    width: 400px;
    border: 6px solid red;
    border-radius: 8px;
    margin: 25px 50px 0 50px;
    
}

.box-one {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border-radius: 8px;
    margin: 25px 150px 25px 150px;
}
.box-two {
    width: 150px;
    height: 200px;
    background-color: rebeccapurple;
    border-radius: 8px;
    margin: 25px 25px 25px 25px;
}
.box-three {
    width: 150px;
    height: 60px;
    background-color: #b99417;
    border-radius: 8px;
    margin: 25px 125px 0 125px;
}
.box-four {
    width: 150px;
    height: 200px;
    background-color: darkred;
    border-radius: 8px;
    margin: 25px 0 0 50px;
}