body {
    background-color: yellow;
    padding: 25px 50px;
}
.box-1 {
    background-color: green;
    width : 600px;
    height: 200px;
    margin: 25px;
}
.a-1 {
    height: 150px;
    width: 150px;
    background-color: aquamarine;
    float: left;
    margin: 25px;
}
.b-1 {
    height: 150px;
    width: 150px;
    background-color: #c1966f;
    float: right;
    margin: 25px;
}
.box-2 {
    background-color: cadetblue;
    width : 600px;
    height: 400px;
    margin: 25px;
}
.a-2 {
    height: 150px;
    width: 150px;
    background-color: lightgrey;
    float: left;
    margin: 25px;
}
.b-2 {
    height: 150px;
    width: 150px;
    background-color: black;
    float: right;
    margin: 25px;
}
.c-2 {
    height: 150px;
    width: 550px;
    background-color: orange;
    float: left;
    margin: 25px;
}
.box-3 {
    background-color: saddlebrown;
    width : 600px;
    height: 300px;
    margin: 25px;
}
.a-3 {
    height: 150px;
    width: 150px;
    background-color: purple;
    float: left;
    margin: 25px;
}
p {
    padding: 25px;
    color: white;

}